<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CFB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min-st.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow ">
            <div class="container ">
                <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-user-secret h1" ></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item px-4">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Szyfry</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Funkcje skrótu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid p-0 pt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Wiktor Brak rok 3, sem. 6
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/d94e7a9257.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
