@{
    ViewData["Title"] = "Home Page";
}
    <div class="container col-md-8">
        <div class="jumbotron text-center mt-5">
            <h1 class="display-4">Poznaj szyfry i funkcje skrótu!</h1>
            <h4 class="lead">Zaponaj się z trzema szyframi oraz trzema funkcjami skrótu i przetestuj ich działanie</h4>
            <hr class="my-4">
            <h5>Strona została stworzona, aby pomóc w nauce szyfrów oraz funkcji skrótu. Znajdziesz tutaj opis działania, przykłady i możliwość zaszyfrowania własnej wiadomości. Dodatkowo będziesz mieć dostęp do kodu źródłowego danych szyfrów jak i całej aplikacji w języku C# i technologii ASP.NET MVC Core </h5>
            <p class="lead mt-3">
                <a class="btn btn-secondary btn-lg" asp-action="Info" asp-controller="Home" role="button">Więcej informacji</a>
            </p>
        </div>
    </div>