@{
    ViewData["Title"] = "Home Page";
}
    <div class="jumbotron text-center">
        <h1 class="display-4">Bezpieczeństwo systemów komputerowych</h1>
        <p class="lead">Strona stworzna w celu zaliczenia przedmiotu, użyty język: C#, technologia: ASP.NET Core MVC</p>
        <hr class="my-4">
        <p>Na stronie można znaleźć opisy oraz impementacje 3 szyfrów oraz 3 funkcji skrótu. Dodatkowo będzie można sprawdzić swoją wiedzę na temat szyfrów rozwiązując quiz</p>
        <p class="lead">
            <a class="btn btn-secondary btn-lg" href="#" role="button">Przejdź do quizu</a>
        </p>
    </div>