
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-md-8">
    <div class="jumbotron text-center border-secondary">
        <h1>Strona stworzna w celu zaliczenia przedmiotu <br /> bezpieczeństwo systemów komputerowych na uczelni: <br /> Uniwersytet Kazimierza Wielkiego <br /> kierunek Informatyka rok 3, sem. 6. <br /> Użyty język: C#, technologia: ASP.NET Core MVC</h1>
        <hr class="my-4">
        <h3>Na stronie można znaleźć opisy oraz impementacje 3 szyfrów oraz 3 funkcji skrótu. W tym:</h3>
        <p>Szyfr Cezara</p>
        <p>Szyfr Atbasz</p>
        <p>Szyf Vigenere'a</p>
        <p>Funkcja skrótu MD5</p>
        <p>Funkcja skrótu SHA1</p>
        <p>Funkcja skrótu SHA512</p>
        <hr class="my-4" />
        <h3>Cały kod źródłowy dostępny pod adresem:</h3>

        <a href="https://github.com/wiktor-brak/CiperForBsk" target="_blank">Kliknij aby przejsć do kodu</a>
        <hr class="my-4"/>
        <h3>Możliwości rozbudowy:</h3>
        <p>1. Zwiększenie ilości szyfrów</p>
        <p>2. Dodanie quizu sprawdzającego wiedzę użytkownika strony</p>
        <hr class="my-4"/>
        <h3>Źródła:</h3>
        <p><a target="_blank" href="https://docs.microsoft.com/pl-pl/">https://docs.microsoft.com/pl-pl/</a></p>
        <p><a target="_blank" href="https://www.wikipedia.org/">https://www.wikipedia.org/</a></p>
        <p><a href="https://sites.google.com/site/szyfrowanieee/home/szyfr-vigenere-a" target="_blank">https://sites.google.com/site/szyfrowanieee/home/szyfr-vigenere-a</a></p>
    </div>
    </div>