@model CiperForBsk.Models.Message
@{
    ViewData["Title"] = "Q1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center" >
    <div>Pytanie 1 - Szyfr Cezara</div>
    <div>Podaj jakie przesunięcie musi zostać wykonane aby z tekstu: alamakota, zostało utworzone: itiuiswbi</div>
    <form asp-action="Q1" asp-controller="Quiz">
        <div class="form-group">
            <input min="0" max="25" placeholder="0-25" type="number" asp-for="Msg" class="form-control-lg " />
        </div>
        <button asp-controller="Quiz" asp-action="Q1" class="btn btn-primary">Dalej</button>
    </form>
</div>